/* LANDING PAGE */

.Landing {
    &-header {
        font-size: 4.5rem;
        opacity: 65%;
    }
    &-subheader {
        font-size: 4.0rem;
        opacity: 65%;
    }
    &-header-container {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 8%;
        width: 65%
    }
    &-button {
        opacity: 50%;
        width: 8rem;
        font-size: 4.0rem;
        transition: opacity 0.3s;
    }
    &-button:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
    &-image{
        filter: drop-shadow(0 0 1.0rem rgb(44, 41, 41));
    }
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}

/*  ABOUT PAGE  */

.About {
    &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 10vw;
        min-width: 130px;
    }

    &-image {
        margin: auto;
        height: 50%;
    }

    &-card-title {
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-style: italic;
        text-align: center;
    }

    &-section {
        min-width: 300px;
        text-align: center;
    }

    &-section-title {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1.0vh;
        color: rgb(20, 20, 73);
    }

    &-section-list {
        list-style: none;
        
        li {
            color: rgb(114, 114, 114);
            font-weight: 600;
            font-size: 1.1rem;
            padding-top: 1vh;
            padding-bottom: 0.5vh;
        }
    }
}

/*  PROJECTS PAGE  */
.Project {
    &-div {
        height: 70vh;
        width: 40vw;
        overflow: hidden;
        background-color: grey;
        border-radius: 1rem;
    }

    &-image {
        height: 70%;
        margin-top: 20%;
        transform: translate(20%, 10% ) ;
    }
}